$primaryColor: #e05297;
$secondaryColor: #ea86b6;
$thirdaryColor: #f3bad6;
$fourtharyColor: #fceef5;

.hero{
    &__container{
        background-image: url(./images/hero-image.jpg);
        width: 100%;
        height: 35rem;
        object-fit: cover;
        background-position: center;
        background-size: cover;
        text-align: center;
        color:  #fceef5;
        padding: 5rem auto;
    }
    &__subtitle{
        padding: 4rem 0 0.5rem 0;
        font-size: 1.5rem;
    }
    &__title{
        padding: 0.5rem 0 4rem 0;
        font-size: 5rem;
    }
    &__desc{
        padding-bottom: 2rem;
        margin: 0 auto;
        display: block;
        width: 50%;
        font-size: 1.5rem;
    }
    &__btn{
        cursor: pointer;
        height: 3.5rem;
        width: 15rem;
        font-size: 1rem;
        letter-spacing: 0.1rem;
        text-transform: uppercase;
        border: none;
        border-radius: 5rem;
        color: $fourtharyColor;
        background-color: $primaryColor;
        transition: all 0.4s ease;
        box-shadow: 0 0 3rem 0.2rem $thirdaryColor;
        &:hover{
            color: $primaryColor;
            background-color: $fourtharyColor;
        }
        & > svg{
            opacity: 0.1;
            font-size: 0.8rem;
        }
    }
}