$primaryColor: #e05297;
$secondaryColor: #ea86b6;
$thirdaryColor: #f3bad6;
$fourtharyColor: #fceef5;

.hero{
    &__container{
        background-image: url(./images/hero-image.jpg);
        width: 100%;
        height: 35rem;
        object-fit: cover;
        background-position: center;
        background-size: cover;
        text-align: center;
        color:  #fceef5;
        padding: 5rem auto;
    }
    &__subtitle{
        padding: 4rem 0 0.5rem 0;
        font-size: 1.5rem;
    }
    &__title{
        padding: 0.5rem 0 4rem 0;
        font-size: 5rem;
    }
    &__desc{
        padding-bottom: 2rem;
        margin: 0 auto;
        display: block;
        width: 50%;
        font-size: 1.5rem;
    }
    &__btn{
        cursor: pointer;
        height: 3.5rem;
        width: 15rem;
        font-size: 1rem;
        letter-spacing: 0.1rem;
        text-transform: uppercase;
        font-weight: bold;
        border: none;
        border-radius: 5rem;
        color: $fourtharyColor;
        background-color: $primaryColor;
        transition: all 0.4s ease;
        box-shadow: 0 0 3rem 0.2rem $thirdaryColor;
        font-family: Poppins, sans-serif;
        outline: none;
        position: relative;
        transition: .5s ease;
        animation: 1s ease infinite ;
        &--icon1 > svg {
            position: absolute;
            right: 15%;
            top: 35%;
            opacity: 1;
            font-size: 1rem;
            
        }
        &--icon2 > svg {
            position: absolute;
            right: 10%;
            top: 35%;
            opacity: 1;
            font-size: 1rem;
        }
        &--icon3 > svg {
            position: absolute;
            right: 5%;
            top: 35%;
            opacity: 1;
            font-size: 1rem;
            transition: .5s;
        }
        
        &:hover{
            color: $primaryColor;
            background-color: $fourtharyColor;
        }

        &:hover &--icon1 > svg {
            opacity: 0;
        }
        
        
    }
}

@mixin keyframes($opacity_arrow)  {
    @keyframes #{$opacity_arrow}{
        0% {
            opacity: 0;
        }
        50% {
            opacity: 0.5;
        }
        100% {
            opacity: 1;
        }
    }
}