$primaryColor: #f6bed6;
$secondaryColor: #e79cc2;
$thirdaryColor: #1d1b38;
$fourtharyColor: #336d88;
$backgroundColor: #ffffffc5;
.review{
    &__container{
        width: 100%;
    }
    &__imgWrapper{
        position: relative;
        overflow: hidden;
        width: 100%;
    }
    &__img{
        width: 100%;
        height: 21rem;
        object-fit: cover;
    }
    
    &__date{
        position: absolute;
            top: 1%;
            left: 3%;
            z-index: 2;
            color: white;
            &::before{
                content: '';
                background-color: $fourtharyColor;
                position: absolute;
                width: 13rem;
                height: 2.2rem;
                transform: skew(-30deg) translateX(-2rem) translateY(-0.7rem);
                z-index: -1;
            }
    }
    &__content{
        display: inline-block;
        font-family: 'Josefin Sans', sans-serif;
        
        
    }
    &__number{
        position: absolute;
        top: 1%;
        right: 5%;
        color: fade-out(#fff, .2);
        z-index: 1;
        font-size: 1.5rem;
        text-align: center;
        &:before{
            content: '';
            background-color: $primaryColor;
            position: absolute;
            height: 5rem;
            width: 8rem;
            top: -2rem;
            right: -4.5rem;
            transform: rotate(45deg);
            z-index: -1;
            box-shadow: 0 0 2rem 0.5rem rgba(0, 0, 0, .5);
        }
    }
    &__blockquote{
        padding: 2rem 2rem 0 2rem;
        display: block;
        text-align: center;
        font-size: 1.7rem;
        height: 13rem;
        letter-spacing: 0.08rem;
        position: relative;
        z-index: 1;
        
        &:before{
            content: '';
            width: 0.3rem;
            height: 15.5rem;
            top: 2rem;
            left: 0.5rem;
            background-color: rgb(0, 0, 0);
            position: absolute;
            z-index: -1;
        }
    }
    &__cite{
        display: block;
        text-align: right;
        margin-top: 1rem;
        height: 3rem;
        z-index: 1;
        
    }
    &__btn{
        &--wrapper{
           display: flex;
           justify-content: center;
        }
        font-size: 1.3rem;
        cursor: pointer;
        outline: none;
        border: none;
        border-radius: 5rem;
        width: 4rem;
        height: 4rem;
        background-color: $secondaryColor;
        transition: all .4s ease-in;
        color: $thirdaryColor;
        opacity: .7;
        &:hover{
            background-color: $fourtharyColor;
            opacity: 1;
            width: 12rem;
            color: $secondaryColor;
            border-radius: 1rem;
        }
    }
    
    
    
}