$primaryColor: #f6bed6;
$secondaryColor: #e79cc2;
$thirdaryColor: #1d1b38;
$fourtharyColor: #336d88;
.footer{
    
    height: 5rem;
    background-image:  linear-gradient(to right, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), 
    url('https://images.unsplash.com/photo-1527224538127-2104bb71c51b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1951&q=80');
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10rem 0 10rem;
    color: $thirdaryColor;
    &__list{
        list-style-type: none;
        display: flex;
        flex-grow: 1;
        & > li {
            padding-right: 2.5rem;
            cursor: pointer;
            transition: all .4s ease;
            text-align: center;
            &:hover{
                color: $primaryColor;
                transform: scale(1.2);
            }
        }
    }
}