$primaryColor: #f6bed6;
$secondaryColor: #e79cc2;
$thirdaryColor: #1d1b38;
$fourtharyColor: #336d88;
$backgroundColor: #ffffffc5;
.recipeDetail{
    &__heroImg{
        height: 80vh;
        background-size: cover;
    }
    &__container{
        padding: 0 10rem 5rem 10rem;
        
    }
    &__title{
        margin-top: 5rem;
        margin-bottom: 5rem;
        & > h5 {
            font-size: 1.5rem;
            position: relative;
            padding-left: 1rem;
            color: white;
            margin-bottom: 2rem;
            &:before{
                content: '';
                background-color: #336d88;
                position: absolute;
                top: -0.6rem;
                left: 0;
                width: 10rem;
                height: 4rem;
                z-index: -1;
            }
            &::after{
                content: '';
                background-color: #336d88;
                position: absolute;
                top: -0.1rem;
                left: 8rem;
                width: 10rem;
                height: 4rem;
                transform: skew(-30deg) translateX(-3rem) translateY(-0.5rem);
                z-index: -1;
            }
        }
        & > h3 {
            font-size: 2.5rem;
            padding-bottom: 0.8rem;
        }
        & > p {
            opacity: 0.5;
            padding-bottom: 1.5rem;
        }
        

    }
    &__content{
        display: flex;
        
    }
    &__leftCol{
        min-width: 30%;
        margin-right: 2rem;
        padding-left: 4rem;
        
    }
    &__introduce{
        font-size: 1.2rem;
        position: relative;
        padding-left: 1rem;
        margin-bottom: 2rem;
        
        & > p {
            z-index: 999;
            color: white;
        }
        &__beaf{
            position: relative;

        }
        &:before{
            content: '';
            background-color: #336d88;
            position: absolute;
            top: -0.6rem;
            left: 0;
            width: 10rem;
            height: 6rem;
            z-index: -1;
        }
        &::after{
            content: '';
            background-color: #336d88;
            position: absolute;
            top: -0.1rem;
            left: 8rem;
            width: 10rem;
            height: 6rem;
            transform: skew(-30deg) translateX(-3rem) translateY(-0.5rem);
            z-index: -1;
        }
    }
    &__ingredients{
        & > h5 {
            font-size: 2rem;
            padding-top: 3rem;
            padding-bottom: 3rem;
        }
        &--list{
            list-style: none;
        }
        &--item{
            
            position: relative;
            padding-top: 35px;
            font-size: 1.2rem;
            
        }
    }
    &__formGroup{
        
        input[type="checkbox"]{
            position: absolute;
            padding: 30px;
            visibility: hidden;
        }
        & > label{
            display: inline-block;
            padding-left: 3rem;
            color: #212529;
            font-size: 16px;
            cursor: pointer;
            &:before{
                content: "";
                position: absolute;
                top: 33px;
                left: 0;
                width: 25px;
                height: 25px;
                border: 1px solid #aaaaaa;
                background-color: #fff;
                cursor: pointer;
            }
            &:after{
                content: "";
                position: absolute;
                top: 35px;
                left: 9px;
                width: 7px;
                height: 15px;
                border-width: 0 2px 2px 0;
                border-style: solid;
                border-color: #fff;
                visibility: hidden;
                transform: rotate(45deg);
            }
        }
        input[type="checkbox"]:checked + label.square::before {
            border-color: transparent;
            background-color: $primaryColor;
        }
        input[type="checkbox"]:checked + label.square::after {
            visibility: visible;
        }
    }
    &__rightCol{
        flex-grow: 7;
        
    }
    &__howToCook{
        list-style: none;
        &--item{
            display: flex;
            flex-flow: row nowrap;
            & > h4 {
                min-width: 2rem;
                font-size: 2.5rem;
                padding-right: 1.5rem;
            }
            & > p {
                line-height: 2.5rem;
                padding-top: 1.5rem;
            }
        }
    }

}
/*  width < 640px */
@media only screen and (max-width: 639px){
    .recipeDetail{
        &__heroImg{
            height: 40vh;
            background-size: cover;
            background-position: 50% 50%;
        }
        &__container{
            padding: 0 3rem 5rem 3rem;
        }
        &__content{
            display: flex;
            flex-flow: column nowrap;
            
        }
        &__leftCol{
            min-width: 30%;
            margin-right: 0rem;
            padding-left: 0rem;
            margin-bottom: 5rem;
            
        }
    }
}
/*  width >= 640px and width < 960px */
@media only screen and (min-width: 640px) and (max-width: 959px){
    .recipeDetail{
        &__heroImg{
            height: 50vh;
            background-size: cover;
            background-position: 50% 50%;
        }
        &__container{
            padding: 0 3rem 5rem 3rem;
            
        }
        &__content{
            display: flex;
            flex-flow: column;
            
        }
        &__leftCol{
            min-width: 30%;
            margin-right: 0rem;
            padding-left: 0rem;
            margin-bottom: 5rem;
        }
    }
}
/*  width >= 960px and width < 1200px */
@media only screen and (min-width: 960px) and (max-width: 1199px){
    .recipeDetail{
        &__heroImg{
            height: 50vh;
            background-size: cover;
            background-position: 50% 50%;
        }
        &__container{
            padding: 0 6rem 5rem 6rem;
            
        }
        &__content{
            display: flex;
            flex-flow: column;
            
        }
        &__leftCol{
            min-width: 30%;
            margin-right: 0rem;
            padding-left: 0rem;
            margin-bottom: 5rem;
        }
    }
}
/*  width >= 1200px and width < 1600px */
@media only screen and (min-width: 1200px) and (max-width: 1599px){
    .recipeDetail{
        &__heroImg{
            height: 80vh;
            background-size: cover;
        }
        &__container{
            padding: 0 6rem 5rem 6rem;
            
        }
    }
}