$primaryColor: #f6bed6;
$secondaryColor: #e79cc2;
$thirdaryColor: #1d1b38;
$fourtharyColor: #336d88;
$backgroundColor: #ffffffc5;
.rankRecipes{

    &__container{
        display: flex;
        width: 80%;
        margin: 0 auto;
        justify-content: space-between;
        background-color: $backgroundColor;
    }
    &__title{
        display: inline-block;
        margin-top: 3rem;
        margin-bottom: 3rem;
        font-size: 2rem;
        position: relative; 
        &::before{
            content: '';
            width: 25%;
            height: 0.3rem;
            background-color: $secondaryColor;
            position: absolute;
            bottom: -25%;
            left: 0;
        }
    }
    &__item{
        width: calc(32%);
    }
    &__wrapper{
        width: 100%;
        display: flex;
        margin-bottom: 1rem;
    }
    &__img{
       min-width: 8rem;
       max-width: 8rem;
       min-height: 8rem;
       max-height: 8rem;
        & > img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__desc{
        padding-left: 1rem;
    }
    &__date{
        color: $secondaryColor;
        font-size: 1rem;
        margin-bottom: 1rem;
        font-weight: bold;
    }
    &__name{
        font-size: 1.3rem;
        margin-bottom: 1.5rem;
        font-weight: bold;
    }
    &__star{
        & > svg {
            font-size: 1.2rem;
        }
        &--active{
            color: rgb(250, 225, 86);
        }
    }
    
}

